<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Capacity</th>
      <th>Title</th>
      <th>Full?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%= event.capacity %></td>
        <td><%= event.title %></td>
        <td><%= event.filled_up %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
        <% if event.windows %>
          <tr><td>Windows:</td></tr>
            <% event.windows.each do |window| %>
              <tr>
                <td><%= link_to window.id, window %></td>
                <td>Time: <%= window.start_time %></td>
                <td><% if window.filled_up %>Sold out<% else %><%= link_to 'I\'ll take it!', window, method: :assign_user %><% end %></td>
              </tr>
            <% end %>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
